<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body class="text-center">
    <form class="form-register" action="/register" method="POST">
        <img class="img img-responsive" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg">
        <h3><%= title %></h3>
        <small>Register the application with fill all field below this.</small>

        <!-- <% if (typeof errors != 'undifined'){ %>
            <small class="text-danger">Have error from server</small>
        <% } %> -->

        <div class="form">
            <div class="form-group">
                <input type="text" name="fullname" class="form-control" placeholder="Enter fullname" data-validation="length letternumeric" data-validation-length="min4">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" data-validation="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <input type="password" name="pass_confirmation" class="form-control" aria-describedby="passwordHelp" placeholder="Enter password" data-validation="strength length" data-validation-length="min6" autocomplete="false"  data-validation-strength="2">
                <small id="passwordHelp" class="form-text text-muted">Password (at least 6 characters)</small>
            </div>
            <div class="form-group">
                <input type="password"  name="pass" data-validation="confirmation" class="form-control" placeholder="Enter password confirmation" autocomplete="false">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
    </form>
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
  <script>
    $.validate({
        modules : 'security',
        onModulesLoaded : function() {
            var optionalConfig = {
            fontSize: '12pt',
            padding: '4px',
            bad : 'Very bad',
            weak : 'Weak',
            good : 'Good',
            strong : 'Strong'
            };

            $('input[name="password"]').displayPasswordStrength(optionalConfig);
        }
        });
  </script>
</html>
